/*General formating*/
	html
	{
		font-size: 12px;
	}

	body 
	{
		-webkit-print-color-adjust: exact !important;
	}

	label
	{
		font-weight: bold;
		margin-right:5px;
		margin-left: 5px;
	}

	.alert
	{
		font-size:18px;
	}

	.images-wrapper
	{
		padding-top: 2%;
	}

	.landscape-images
	{
		width:35em;
	}

	.tp-bttm-margin
	{
		padding-bottom:2%;
		padding-top:2%;
	}

	.row
	{
		margin-bottom:15px;
	}

	body
	{
		margin-bottom:400px;
	}

	.form-control-label-bold
	{
		font-weight: bold;
		margin-right:5px;
	}

	.form-check-label
	{
		margin-right:5px;
	}


    .tab1 { padding-left: 4em; }
    .tab2 { padding-left: 8em; }
    .tab3 { padding-left: 12em; }
    .tab4 { padding-left: 16em; }
    .tab5 { padding-left: 20em; }
    .tab6 { padding-left: 24em; }
    .tab7 { padding-left: 28em; }
    .tab8 { padding-left: 32em; }
    .tab9 { padding-left: 36em; }
    .tab10 { padding-left: 40em; }
    .tab11 { padding-left: 44em; }
    .tab12 { padding-left: 48em; }
    .tab13 { padding-left: 52em; }
    .tab14 { padding-left: 56em; }
    .tab15 { padding-left: 60em; }
    .tab16 { padding-left: 64em; }

    .strike-through
    {
    	font-size:18px;
    	text-decoration: line-through;
    	text-decoration: bold;

    }
/*carousel*/
	.lg-carousel
	{
		background-color: white;
		color:black;
		margin-top: 5%;
	}

	.lg-carousel-inner
	{
		padding-bottom:3em;
	}

	.sm-carousel
	{
		color: #337ab7;
		clear:left;
		display: inline-block;
		font-size: 1.2em;
		padding:10px;
	}

	.sm-carousel-inner
	{
		padding-bottom: 3em;
	}

	.sm-carousel-images
	{
		display: block;
		margin:0 auto;
	}

	.sm-carousel-txt
	{
		margin-top: 1em;
	}

	.carousel-indicators > li
	{
		border: 1px solid black;
		background-color: #337ab7;
	}

	.item
	{
		width: 100%;
	}
	.carousel-control.left, .carousel-control.right
	{
		background: white;
	}

/*fonts*/
	/*using for page_title*/
	@font-face
	{
	    font-family: V-de-vacia-deFharo;
	    src: url(../fonts/V-de-vacia-deFharo.ttf);
	}
	/*using for legends*/
	@font-face
	{
	    font-family: icicle_country_2;
	    src: url(../fonts/icicle-country-2/icicle_country_2.ttf);
	}

    .FormHeaderCustom
    {
        font-family:icicle_country_2;
        font-size: 25px;
        margin-bottom: 20px;
        text-align:center;
    }

    .TopName
    {
		color: #337ab7;
		font-family: V-de-vacia-deFharo;
		font-size: 35px;
        
    }

	.fas-big
	{
		font-size:30px;	
	}
/*header*/
	.page_title
	{
	    /*font-family: V-de-vacia-deFharo;*/
	    color: #337ab7;
	    font-size: 35px;
	    padding-left: 10px;
	    
	}
/*nav*/

	
	.navbar 
	{
		margin-bottom:5px;
	}
	.text-editor-tool-bar
	{
		background: #f6f6f6;
		border: 1px solid #c5c5c5;
		margin-left:15px;
		margin-right:15px;
	}

	li.nav-item > label
	{
		color: white;
		margin-top:5px;
	}

	div#report-nav
	{
		padding:0px;
	}
	
	/*side nav*/
	li.vertical-nav-buttons > a
	{
		margin-left: 15px;
		padding:5px;
		width:100%;
		white-space:normal !important;
		
	}

	li.vertical-nav-buttons > button
	{
		margin-left: 15px;
		padding:5px;
		white-space:normal !important;
		
	}

	.vertical-nav-buttons
	{
		margin-bottom: 0.5em;
	}
     
     /*images for drop down menus*/
          .snowflake-icon
          {
              background-image: url("../images/Snowflake.png");
              background-repeat: no-repeat;
              background-position: 93% 0%;
              margin-right:30px;
          }

          .snowflake-icon > a:hover
          {
               background-image: url("../images/Snowflake.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          .box-open-icon
          {
               background-image: url("../images/box-open.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
               margin-right:30px;
          }

          .box-open-icon > a:hover
          {
               background-image: url("../images/box-open.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          .test-tube-icon
          {
               background-image: url("../images/Test_Tube_2.png");
               background-repeat: no-repeat;
               background-position: 90% 0%;
               margin-right:30px;
          }

          .test-tube-icon > a:hover
          {
               background-image: url("../images/Test_Tube_2.png");
               background-repeat: no-repeat;
               background-position: 90% 0%;
          }

          .group-icon
          {
               background-image: url("../images/group.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
               margin-right:30px;
          }

          .group-icon > a:hover
          {
               background-image: url("../images/group.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          .numbers-icon
          {
               background-image: url("../images/numbers.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
               margin-right:30px;
          }

          .numbers-icon > a:hover
          {
               background-image: url("../images/numbers.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }


          .request-icon
          {
               background-image: url("../images/request.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
               margin-right:30px;
          }

          .request-icon > a:hover
          {
               background-image: url("../images/request.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }


          .irb-icon
          {
               background-image: url("../images/irb.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
               margin-right:30px;
          }

          .irb-icon > a:hover
          {
               background-image: url("../images/irb.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }
/*General formating*/
	.ui-bkgrd-color-grey
	{
		background: #e6e6e6;
	}

	.ui-bkgrd-color-white
	{
		background:#ffffff;
	}
	fieldset 
	{
		border: 1px solid black;
		margin: 0 0 1.5em 0;
		padding: 0 1.4em 1.4em 1.4em;
    	}

    	a.disabled
    	{
    		pointer-events: none;
    	}

	legend
	{
		color:white;
		background-color: #337ab7;
		border-radius: 10px;
		border: solid 1px #DDD !important;
		font-family: icicle_country_2;
		font-size:18px;
		padding: 0 10px 0px 10px;
		width: auto !important;
	}

	legend.legend-gr
	{
		background-color: #5cb85c;
		font-size:23px;
	}

	.alert.alert-civic
	{
		background: #8539b2;
		color:white;
	}
	.alert-passed-qc, .green-background
	{
		background-color: #0a9601;
		color:white;
	}

	.yellow-background
	{
		background-color: orange;
		color:white;
	}
	.alert-flagged-qc a, .red-background
	{
		color:#6eb3f0;
		font-weight: bold;
	}

	.alert-flagged-qc, .red-background
	{
		color:white;
		background-color: #c41a11;
		-webkit-animation: alert-flagged-qc-animation 2s infinite;  /* Safari 4+ */
		-moz-animation: alert-flagged-qc-animation 2s infinite;  /* Fx 5+ */
		-o-animation: alert-flagged-qc-animation 2s infinite;  /* Opera 12+ */
		animation: alert-flagged-qc-animation 2s infinite;  /* IE 10+, Fx 29+ */
	}
	.dark-grey-background
	{
		background-color:#7c7d80;
	}
	@-webkit-keyframes alert-flagged-qc-animation 
	{
		0%, 49% 
		{
			border: 3px solid red;
		}
		50%, 100% 
		{
			border: 3px solid orange;
		}
	}
	a.text-a
	{
		color:#004887;
		text-decoration: underline;
	}

	a.text-a:hover
	{
		cursor:pointer;
	}
	.c-wh
	{
		color:white;
	}

	.main-section
	{
		background:#eee;
		padding: 15px 15px 10px 15px;

	}

	video
	{
		display: block;
		margin:0 auto;
	}

	.center-it
	{
		display: block;
		margin:0 auto;
	}


	.required-field
	{
		color: red;
		margin-left:5px;
	}
/*horizontal line*/
	hr.dotted-line
	{
		border-top: 1px dashed #337ab7;
		text-align: center;	
		padding-bottom:10px;
	}

	hr.thick-grey-line
	{
		border-top: 5px dashed #989898;
		padding-bottom:10px;	
	}

	hr.section-mark
	{
	border-top: 4px double #8c8b8b;
	text-align: center;
	}

	hr.section-mark:after
	{
		content: '\00A7';
		display: inline-block;
		position: relative;
		top: -15px;
		padding: 0 10px;
		background: #f0f0f0;
		color: #8c8b8b;
		font-size: 18px;
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		transform: rotate(60deg);
	}
/*formated tables*/

	table.report_table
	{
		border: 1px solid black;
   		border-collapse: collapse;
		text-align: center;
   		width:100%;
	}

	table.report_table th
	{
          text-align: center;
	}

	.report_table th, .report_table tr, .report_table td
	{
		border: 1px solid black;	
		padding: 1px 5px;
	}

	table.formated_table
	{
		border-collapse: collapse;
		text-align: left;
	}
	.formated_table
	{
		background-color: #eee;
		border-top: 1px solid #fff;
		width: 100%;
	}

	.formated_table th
	{
		color: white;
		text-align: center;
		background-color: #337AB7;
	}

	.dataTable table
	{
		background-color: grey;
	}

	.formated_table th, .formated_table tr, .formated_table td
	{
		border: 1px solid #ccc;	
		padding: 5px 5px;
	}
	
	.white_table th
	{
		color:black;
		background-color: white;
	}

	.white_table tr
	{
		background-color: white;
	}

	table.formated_table > tbody
	{
		vertical-align: top;
	}

	/*hovering coloring*/
	table > tbody > tr.hover_background_row:hover
	{
		background-color: #ddd;
	}	
	table > tbody > tr.hover_success_on:hover, table > tbody > tr > td.hover_success_on:hover
	{
		background-color: #0a9601;
		cursor:pointer;
	}
	table > tbody > tr.hover_info_on:hover
	{
		background-color: #46b8da;
		cursor:pointer;
	}
	table > tbody > tr.hover_warning_on:hover
	{
		background-color: #eea236;
		cursor:pointer;
	}
	table > tbody > tr.hover_danger_on:hover
	{
		background-color: #d43f3a;
		cursor:pointer;
	}

	.hover:hover
	{
		cursor:pointer;
	}

	/*change row color*/
	table > tbody > tr.selected_danger
	{
		background-color: #d43f3a;
	}


/*more button and less button for text*/

	.show-complete, .show-teaser, .text-hover
	{
		cursor: pointer;
		color: #337ab7;
	}

	.show-complete:hover, .show-teaser:hover, .text-hover:hover
	{
		color:#004887;
		font-weight: bold;
	}

/*buttons*/
	.disabled-link
	{
		pointer-events:none !important;
	}

	.btn-circle
	{
		border-radius:15px;
	}

	.btn-primary
	{
		background-color: #337ab7;
		border-color:#2e6da4;
	}

	.btn.btn-primary-hover:hover, .btn.btn-primary-hover:focus
	{
	  	background: #337ab7;
		box-shadow: 0px 0px 5px #000000;
  		z-index: 2;
  		-webkit-transition: all 200ms ease-in;
  		-webkit-transform: scale(1.08);
  		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.08);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.08);
		transition: all 200ms ease-in;
		transform: scale(1.08);
	}

	.btn.btn-success-hover:hover, .btn.btn-success-hover:focus
	{
	  	background: #2f862f;
		box-shadow: 0px 0px 5px #000000;
  		z-index: 2;
  		-webkit-transition: all 200ms ease-in;
  		-webkit-transform: scale(1.08);
  		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.08);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.08);
		transition: all 200ms ease-in;
		transform: scale(1.08);
	}

	.btn.btn-warning-hover:hover, .btn.btn-success-hover:focus
	{
	  	background: #ef9517;
		box-shadow: 0px 0px 5px #000000;
  		z-index: 2;
  		-webkit-transition: all 200ms ease-in;
  		-webkit-transform: scale(1.08);
  		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.08);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.08);
		transition: all 200ms ease-in;
		transform: scale(1.08);
	}

	.btn-success
	{
		background: #0a9601;
	}

	.rm-btn-border
	{
		border-color: #337ab7;
	}

	.bttm-Margin
	{
		margin-bottom:2%;
	}

	.thumbnail-landscape-images
	{
		border-radius:8px;
		border:1px solid black;
		box-shadow: 0 10px 6px -6px #777;
		display: block;
		margin: auto;
		width:200px;
	}

	.thumbnail-landscape-images-hover:hover, .thumbnail-landscape-images-hover:focus
	{
		background: #004887;
		box-shadow: 0px 0px 5px #000000;
		cursor:pointer;
		-webkit-transition: all 200ms ease-in;
		-webkit-transform: scale(3.08) translate(50px,0);
		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(3.08) translate(50px,0);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(3.08) translate(50px,0);;
		transition: all 200ms ease-in;
		transition: all 200ms ease-in;
		transform: scale(3.08) translate(-20px,20px);
		z-index: 2;
	}

/*images*/
	.landscape-images
	{
		border-radius:8px;
		border:1px solid black;
		box-shadow: 0 10px 6px -6px #777;
		display: block;
		margin: auto;
	}

/*heading formatings*/
	h1.white-bkg-H1
	{
		color: #337ab7;
		clear:left;
		background: white;
		box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
		border-radius: 3px;
		display: inline-block;
		padding:10px;
		text-shadow: #fff 0 1px 1px, #bfbfbf 0 2px 2px;
	}

/*Banners*/
	.Grey-Banner
	{
		background:#eee;
		border-color: #999999;
		border-width: 1px;
	}

	.Blue-Banner
	{
		background: #337ab7;
		color:white;
		margin-top: 3px;
	}

/*raised card*/
	.raised-card
	{
		clear:left;
		background: white;
		box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
		border-radius: 3px;
		display: inline-block;
		font-size: 1.2em;
		padding:10px;
		margin: 0px 20px 20px 20px;
		width:95%;
	}

	.raised-card > li
	{
		margin-left:20px;
	}

	.raised-card-header
	{
		color: #337ab7;
		text-align: center;
		text-shadow: #fff 0 1px 1px, #bfbfbf 0 2px 2px;
		font-weight: bold;
	}

	.raised-card-subheader
	{
		font-weight: bold;
		text-align: center;
		text-shadow: #fff 0 1px 1px, #bfbfbf 0 2px 2px;

	}

	.raised-card-description
	{
		margin: 15px 10px 10px 10px;
	}

/*report sections*/

	.report-center-bold
	{
		font-weight: bold;
		text-align: center;
		text-shadow: #fff 0 1px 1px, #bfbfbf 0 2px 2px;
	}

	.report-section-bold
	{
		font-weight: bold;
		font-size:16px;
	}

/*footer*/
	footer
	{
		background: #337ab7;
		bottom:0;
		color:white;
		position:fixed;
		width:100%;
	}
/*dots*/

	.dot 
	{
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;	
/*		float:right;*/
		height: 13px;
		margin-top:4px;
		width: 13px;
	}

	.dot-yellow
	{
		background-color: #f0ad4e;
	}
	.dot-green
	{
		background-color: #0a9601;
	}
	.dot-red
	{
		background-color: #d9534f;
	}
	.dot-blue
	{
		background-color: #1955fc;
	}
	.dot-purple
	{
		background-color: #8e19fc;
	}
	.dot-grey
	{
		background-color: grey;
	}
	.dot-lime-green
	{
		background-color: #89cf08;
	}
	.dot-right
	{
		float:right;		
	}
/*###################################*/
	/*loader*/

	/*outside div*/
	.loader 
	{
		background: radial-gradient(#999999, #111111);
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 99999;
	}

	/*Rainbow HiC curved text*/
	.loader-logo
	{
		display: block;
		margin: auto;
		width: 40%;

	}
	.char1 { transform: rotate(-50deg); }
	.char2 { transform: rotate(-40deg); }
	.char3 { transform: rotate(-30deg); }
	.char4 { transform: rotate(-20deg); }
	.char5 { transform: rotate(-10deg); }
	.char6 { transform: rotate(0deg); }
	.char7 { transform: rotate(10deg); }
	.char8 { transform: rotate(20deg); }
	.char9 { transform: rotate(30deg); }
	.char10 { transform: rotate(40deg); }
	.char11 { transform: rotate(50deg); }

	/*loading text with flashing dots*/
	.loadingText
	{
		display: inline-block;
		font-size: 25px;
		color: white;

		height:200px;
		left:50%;
		margin: auto;
		position: absolute;
		top: 75%;
		margin-right: -50%;
		width:20px;
		transform: translate(-50%, -50%);
		transform-origin:bottom center;

	}
	@keyframes blink 
	{
			0% 
		{
			opacity: .2;
		}
			20% 
		{
			opacity: 1;
		}
			100% 
		{
			opacity: .2;
		}
	}
	p.loading
	{
		display: inline-block;
	}
	.loading span 
	{
		animation-name: blink;

		animation-duration: 1.4s;
		animation-iteration-count: infinite;
		animation-fill-mode: both;
	}

	.loading span:nth-child(2) 
	{
		animation-delay: .2s;
	}

	.loading span:nth-child(3) 
	{

		animation-delay: .4s;
	}


	/*rotating rainbow*/
	.loader-inner 
	{
		bottom: 0;
		height: 40px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
	}
	.loader-line-wrap 
	{
		animation: 
		spin 8000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		box-sizing: border-box;
		height: 70px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		transform-origin: 50% 100%;
		width: 150px;
	}
	.loader-line 
	{
		border: 4px solid transparent; /* the 'strokes' of the arc */
		border-radius: 100%; /* for making the elements 'round' */
		box-sizing: border-box;
		height: 200px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 200px;
	}
	.loader-line-wrap:nth-child(1) { animation-delay: -100ms; }
	.loader-line-wrap:nth-child(2) { animation-delay: -300ms; }
	.loader-line-wrap:nth-child(3) { animation-delay: -400ms; }
	.loader-line-wrap:nth-child(4) { animation-delay: -500ms; }
	.loader-line-wrap:nth-child(5) { animation-delay: -600ms; }
	.loader-line-wrap:nth-child(6) { animation-delay: -700ms; }
	.loader-line-wrap:nth-child(7) { animation-delay: -800ms; }


	/*top*/
	.loader-line-wrap:nth-child(1) .loader-line 
	{
		border-color: #00457d;
		height: 118px;
		width: 118px;
		top: 7px;
	}
	/*blue*/
	.loader-line-wrap:nth-child(2) .loader-line 
	{
		border-color: #005395;
		height: 104px;
		width: 104px;
		top: 14px;
	}

	/*blue*/
	.loader-line-wrap:nth-child(3) .loader-line 
	{
		border-color: #0069be;
		height: 90px;
		width: 90px;
		top: 21px;
	}

	/*blue*/
	.loader-line-wrap:nth-child(4) .loader-line 
	{ 
		border-color: white;
		height: 76px;
		width: 76px;
		top: 28px;
	}

	/**/
	.loader-line-wrap:nth-child(5) .loader-line 
	{
		border-color: #FCD900;
		height: 62px;
		width: 62px;
		top: 35px;
	}

	/**/
	.loader-line-wrap:nth-child(6) .loader-line 
	{
		border-color: #fee500;
		height: 48px;
		width: 48px;
		top: 42px;
	}


	/*violet*/
	.loader-line-wrap:nth-child(7) .loader-line 
	{
		border-color: #fdf003;
		height: 34px;
		width: 34px;
		top: 49px;
	}


	@keyframes spin 
	{
		0%, 15% 
		{
			transform: rotate(0);
		}
			100% 
		{
			transform: rotate(360deg);
		}
	}

/*Sortable list*/

.sortable-list
{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%;
}

.sortable-list li
{
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1.4em; 
}

.sortable-list li span.ui-icon-arrowthick-2-n-s
{
	position: absolute; 
	margin-left: -1.3em;
}

/*Message board*/
.msg-list 
{
	width: 100%;
}
.messenger-container 
{
	padding: 8px 15px 8px 13px;
	margin: 0 0 25px 35px;
	float: left;
	max-width: 82%;
	background: #f2f2f2;
	border-radius: 10px;
	min-width: 20%;
	position: relative; box-sizing: border-box;
	box-shadow: 7px 10px 6px -5px #BBC0C7;
}
.messenger-container p 
{
	color: #3D3D3D;
	font-size: 12px;
	margin-bottom: 6px;
	line-height: 18px;
	word-wrap: break-word; margin: 0;
}
.sender .messenger-container 
{
	float: right;
	margin-right: 35px;
	width: auto;
	background: #D5DBFF;
	margin-left: 0px;
	padding: 8px 15px 8px 13px;
}
.clear 
{
	clear:both;
	width: 100%;
	padding: 0px !important;
	margin: 0px;
	height:0px;
}
.messenger-container::before {
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 

	border-right:15px solid #f2f2f2; 
	content: "";
	position: absolute;
	top: 9px;
	left: -15px;
}
.sender .messenger-container::before 
{
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 15px solid #D5DBFF;
	content: "";
	position: absolute;
	top: 9px;
	left: 99%;border-right: none;
}



.smileys 
{
			-webkit-appearance: none;
			width: 40px;
			height: 40px;
			border: none;
			cursor: pointer;
			transition: border .2s ease;
			filter: grayscale(100%);
			margin: 0 5px;
			transition: all .2s ease;
}
.smileys:hover, .smileys:checked 
{
	filter:	grayscale(0);
}
			
.smileys:focus 
{
	outline: 0;
}
			
.happy 
{
	background: url('images/happy_ampvnc.svg') center;
	background-size: cover;
}
			
.neutral 
{
	background: url('images/neutral_t3q8hz.svg') center;
	background-size: cover;
}
.sad 
{
	background: url('images/sad_bj1tuj.svg') center;
	background-size: cover;
}

